.button {
  color: #fff;
  padding: 10px;
  background-color: rgb(24, 24, 27);
  border-radius: 5px;
  border: none;
}

.top-section {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.add-button {
  width: 100%;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e5e7eb;
  margin: 10px;
  border-radius: 10px;
  padding: 20px;
}

.item-title {
  font-size: 2rem;
}

.item-quantity {
  color: rgb(113, 113, 122);
}
